# Byte‑compiled / caching
__pycache__/
*.py[cod]

# Build / packaging
*.egg-info/
build/
dist/

# Jupyter
.ipynb_checkpoints/

# Optional: virtualenvs
.env/
venv/

# Archive files and works in progress
.archive/
.wip/